ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img
{
	margin-top: 220px;
	margin-left: 39%;
	display:block;
}
textarea
{
	resize:none;
	display: block;
	margin-left: 30%;
	height: 30px;
	width: 39%
}

#first_button
{
	margin-left: 38%;
}
#second_button
{
	margin-left: 60px;
}
.buttons
{
	background-color: #f2f2f2;
	margin-top: 10px;
	border-radius: 3px;
	border:none;
	padding: 5px;
	width: 120px;
	height: 30px;
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #757575;
}
.buttons:hover
{
	border:grey 1px solid;
	color: black;
	background-color: white;
}